
.st0 {
  fill: url(#SVGID_1_);
}
.st1 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 0.4944;
  stroke-miterlimit: 10;
}
.st2 {
  fill: url(#SVGID_2_);
}
.st3 {
  opacity: 0.3;
  fill: #ffffff;
}
.st4 {
  opacity: 0.1;
  stroke: #ffffff;
  fill: #ffffff;

}
.st5 {
  fill: url(#SVGID_3_);
}
.st6 {
  fill: url(#SVGID_4_);
}
.st7 {
  opacity: 0.8;
  fill: url(#XMLID_96_);
}


svg {
  enable-background: new 0 0 180.5 222.9;
}
